h1 {
  color: aliceblue;
  font-size: 50px;
}

p {
  color: aliceblue;
  font-size: 20px;
}
h1 {
  color: aliceblue;
  font-size: 50px;
}

p {
  color: aliceblue;
  font-size: 20px;
}

p {
  font: optional;
  color: bisque;
  font-family: "Courier New", Courier, monospace;
}
h1 {
  color: aliceblue;
  font-size: 50px;
}

p 
  color: aliceblue;
  font-size: 20px;
}

.a{
  font: optional;
  color: bisque;
  font-family: "Courier New", Courier, monospace;
}

.b

.x

.c
h1 {
  color: aliceblue;
  font-size: 50px;
}

p {
  color: aliceblue;
  font-size: 20px;
}

p {
  font: optional;
  color: bisque;
  font-family: "Courier New", Courier, monospace;
}
h1 {
  color: aliceblue;
  font-size: 50px;
}

p 
  color: aliceblue;
  font-size: 20px;
}

.a{
  font: optional;
  color: bisque;
  font-family: "Courier New", Courier, monospace;
}

.b

.x

.c
h1 {
  color: aliceblue;
  font-size: 50px;
}

p {
  color: aliceblue;
  font-size: 20px;
}

p {
  font: optional;
  color: bisque;
  font-family: "Courier New", Courier, monospace;
}
h1 {
  color: aliceblue;
  font-size: 50px;
}

p 
  color: aliceblue;
  font-size: 20px;
}

.a{
  font: optional;
  color: bisque;
  font-family: "Courier New", Courier, monospace;
}

.b

.x

.c
h1 {
  color: aliceblue;
  font-size: 50px;
}

p {
  color: aliceblue;
  font-size: 20px;
}

p {
  font: optional;
  color: bisque;
  font-family: "Courier New", Courier, monospace;
}
h1 {
  color: aliceblue;
  font-size: 50px;
}

p 
  color: aliceblue;
  font-size: 20px;
}

.a{h1 {
  color: aliceblue;
  font-size: 50px;
}

p {
  color: aliceblue;
  font-size: 20px;
}

p {
  font: optional;
  color: bisque;
  font-family: "Courier New", Courier, monospace;
}
h1 {
  color: aliceblue;
  font-size: 50px;
}

p 
  color: aliceblue;
  font-size: 20px;
}

.a{
  font: optional;
  color: bisque;
  font-family: "Courier New", Courier, monospace;
}

.b

.x

.c

  font: optional;
  color: bisque;
  font-family: "Courier New", Courier, monospace;
}

.b

.x

.c
